<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.jdtdecompiler.ui.DecompiledClassFileEditor"
            default="true"
            icon="icons/classf_obj.gif"
            extensions="class"
            id="net.sf.jdtdecompiler.ui.DecompiledClassFileEditor"
            name="Decompiled Class File Viewer">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="net.sf.jdtdecompiler.ui.DecompiledClassFileEditor"
            id="net.sf.jdtdecompiler.ui.DecompiledClassFileEditor.BreakpointRulerActions">
         <action
               label="%AddBreakpoint.label"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               actionID="RulerDoubleClick"
               id="org.eclipse.jdt.debug.ui.actions.ManageBreakpointRulerAction">
         </action>
      </editorContribution>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Decompilers"
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="net.sf.jdtdecompiler.ui.preferences.JdtDecompilerPreferencePage"
            id="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage.JdtDecompiler">
      </page>
   </extension>

</plugin>
